<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aguayciudad.aguas.app"
    android:versionCode="5"
    android:versionName="1.1.3">>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Call permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.aguayciudad.aguas.app.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/nombre_app"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.aguayciudad.aguas.app.MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.formulario_reporte"
            android:label="@string/title_activity_formulario_reporte" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.MapsActivity2"
            android:label="@string/title_activity_maps_activity2" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.ReportActivity"
            android:label="@string/title_activity_falta_agua" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Confirmation"
            android:label="@string/title_activity_confirmation" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.splash"
            android:label="@string/nombre_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Emergencias"
            android:label="@string/title_activity_emergencias" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Informacion"
            android:label="@string/title_activity_informacion" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Recomendaciones"
            android:label="@string/title_activity_recomendaciones" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.GlosarioTerminos"
            android:label="@string/title_activity_glosario_terminos" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Cuencas"
            android:label="@string/title_activity_cuencas" >
        </activity>
        <activity
            android:name="com.aguayciudad.aguas.app.Acerca"
            android:label="@string/title_activity_acerca" >
        </activity>
    </application>

</manifest>
